.App {
  height: 100vh;
  background-color: #000000;
  margin: 0;
  padding: 1.5%;
}

.navbar-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  margin-bottom: 1%;
}


/* ================================================ */
.decision-container {
  display: inline-block;
  border: white 2px dashed;
  padding: 10px;
}

.decision-container button {
  width: 50%;
}

.decision-container button:hover {
  color: white;
  background-color: black;
}

body {
  font-family: 'Courier New', sans-serif;
  background-color: black; 
  font-size: 1.5em;
  color: white;
}
